*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;

}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  16px;
    line-height: 1.5;/* gives more space between texts vertically*/
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:visited{
    color: inherit;
}
img{
    max-width: 100%;
}
.header{
    background-color: #1f2937;

}
.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    size: 18px;
    color: #F9FAF8;
}
.nav li{
    margin: 10px; 
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero{
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}
.hero .container{
    justify-content: center;
    align-items: center;
    height: 400px;
    line-height: 3;
}
.hero .container h2{
    font-size: 48px;
    color: #F9FAF8;
    line-height: 1;

}
.hero .container p{
    font-size: 18px;
    color: #E5E7EB;
    line-height: 1;
}
.hero .container button{
    background-color:  #3882F6;
    color: white;
    border: none;
    text-decoration: none;
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 5px;
}

.container .employees ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: none;

  
}
.container .employees img{
   
    width: 150px;
    height: 150px;
    flex: 2 0 0px;
    border:5px solid #3882F6;
    border-radius: 5px;
  
}
.container ul li {
    margin-right: 20px;
   
}
.info-sect{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.employees h1{
    text-align: center;
    margin-bottom: 60px;
    font-size: 36px;
    color: #1f2937;
}
.employees p{
    font-size: 8px;
    color: #1f2937;
    text-align: center;
}

.quote{
    background-color: #E5E7EB;
    height: 300px;
    
   
}
.quote .container{
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.quote .container h1{
    
    font-size: 32px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.cta{
    height: 230px;
    display: flex;
    align-items: center;

}

.cta .container{
    height: 95px;
    width: 590px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.cta .container button{
    background-color: #3882F6;
    text-decoration: none;
    border-color: #F9FAF8;
    width: 85px;
    height: 27px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
    color:#F9FAF8;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#F9FAF8;
    height: 80px;
    background-color: #1f2937;
}